li {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #cbd5e1;
}
.p-img {
  width: 100%;
}
.p-name {
  font-family: 'roboto';
  font-size: 20px;
}
